* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
}

.profile-image {
  border-radius: 50%;
  height: 40px;
  width: 40px;
}

h3 {
  font-weight: 300;
  color: #667;
  text-transform: uppercase;
  font-size: 0.85em;
  letter-spacing: 0.1em;
}
/*----------------------
    Grid Container
----------------------*/
.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "header"
    "navigation"
    "main";
}

.widget-container-full,
.widget-container-half {
  width: 95vw;
}

/*---header---*/
header {
  grid-area: header;
  background-color: #767bbd;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

header h1 {
  color: #fff;
  margin: 0 auto 0 0;
  padding-left: 5px;
  font-size: 1em;
}

header p {
  color: #fff;
  font-weight: 300;
  font-size: 0.75em;
  padding-left: 5px;
  margin-left: 5px;
  font-size: 0.85em;
}

header span {
  font-weight: 100;
}

.bell-container {
  border-right: solid 1px black;
  padding: 5px;
  margin: 10px;
  height: 30px;
  width: 30px;
  position: relative;
}

/*---nav---*/
nav {
  grid-area: navigation;
  background-color: #43478b;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.nav-icon {
  height: 45px;
  width: 45px;
  padding: 7px;
}

/*---main---*/
main {
  grid-area: main;
  display: grid;
}

/*---dashboard and search---*/
.main-header {
  display: flex;
  align-items: center;
}

.headline {
  padding: 15px;
  color: #9c9c9c;
  margin: 0;
  font-size: 1.25em;
  font-weight: 300;
}

.main-header-search {
  background-color: rgb(233, 233, 233);
  width: 100%;
  text-align: right;
  padding: 17px 20px;
  border-bottom: solid 1px #bbb;
  border-left: solid 1px #bbb;
}

.main-header-search input {
  border: solid 1px rgb(150, 150, 150);
  border-radius: 3px;
  width: 75%;
  font-size: 1em;
}

/*---alert---*/

.alert {
  padding: 15px;
}

.alert-banner {
  background: #767bbd;
  padding: 5px 15px;
  color: #fff;
  display: flex;
  border-radius: 5px;
  width: 100%;
}

.alert-banner-close {
  margin-left: auto;
  text-transform: uppercase;
}

.alert-banner-close:hover {
  cursor: pointer;
}

/*---traffic---*/

.traffic-header {
  display: flex;
  padding: 0;
}

.traffic-nav {
  display: flex;
  padding: 0;
  list-style: none;
}

.traffic-nav li {
  padding: 10px;
  font-size: 0.85em;
  color: #667;
  border-radius: 20px;
}

.active {
  background-color: #81c98f;
  color: #fff !important;
}

/*---chart borders and alignment---*/
.traffic,
.daily,
.mobile {
  border-bottom: solid 1px rgb(150, 150, 150);
  padding: 15px 5px 15px 15px;
}

/* social */
.social-header {
  padding-left: 10px;
  padding-top: 10px;
  margin: 0;
}

.social-container {
  margin: 10px;
  padding: 10px;
  display: flex;
  background-color: rgb(233, 233, 233);
  border: solid 1px rgb(150, 150, 150);
  border-radius: 5px;
}

.social-image svg {
  height: 70px;
  width: auto;
  background-color: #767bbd;
  border-radius: 50%;
  margin-right: 20px;
}

.social-image path {
  height: 20px;
}

.social-text p:nth-child(1) {
  color: #767bbd;
  font-size: 1.25em;
  margin: 0;
}

.social-text p:nth-child(2) {
  color: #667;
  font-size: 3em;
  font-weight: 100;
  margin: 0;
}

/*---new members---*/
.new-members {
  padding: 20px 20px 10px 20px;
  border-top: solid 1px rgb(150, 150, 150);
  border-bottom: solid 1px rgb(150, 150, 150);
  margin-top: 10px;
}

.new-members h3 {
  margin: 0;
  padding-bottom: 10px;
}

.members-container {
  border-top: solid 1px rgb(150, 150, 150);
  display: flex;
  padding-bottom: 15px;
  padding-top: 15px;
}

.members-container img {
  margin-right: 10px;
}

.members-date {
  font-size: 0.8em;
  color: #667;
  margin: 0;
  justify-content: flex-end;
  margin-left: auto;
}

.members-container a {
  color: #43478b;
  text-decoration: none;
  font-size: 0.8em;
}

.members-text p {
  font-weight: 300;
  font-size: 0.9em;
  margin: 0;
}

/*---members activity---*/
.recent-activity {
  padding: 10px 20px 10px 20px;
  border-bottom: solid 1px rgb(150, 150, 150);
  margin-top: 10px;
}

.recent-activity h3 {
  margin: 0;
  padding-bottom: 10px;
}

.activity-container {
  border-top: solid 1px rgb(150, 150, 150);
  display: flex;
  padding-bottom: 15px;
  padding-top: 15px;
}

.activity-container img {
  margin-right: 10px;
}

.arrow {
  font-size: 2em;
  font-weight: 300;
  color: #667;
  margin: 0;
  justify-content: flex-end;
  margin-left: auto;
}

.activity-text p {
  font-weight: 300;
  font-size: 0.8em;
  margin: 0;
}

/*---message widget---*/
.message {
  margin: 20px;
}

.message-user {
  padding-top: 0;
  padding-bottom: 5px;
  margin-top: 0;
}

#messageField,
#userField {
  background-color: rgb(250, 250, 250);
  height: 40px;
  width: 100%;
  border: solid 1px rgb(150, 150, 150);
  border-radius: 5px;
  padding-left: 10px;
  font-size: 1em;
}

#messageField {
  height: 120px;
  margin-top: 15px;
  padding-top: 10px;
}

::placeholder {
  color: rgb(160, 160, 160);
  opacity: 1;
  font-weight: 300;
}

.button-primary {
  background-color: #767bbd;
  width: 100%;
  height: 50px;
  font-size: 0.9em;
  text-transform: uppercase;
  color: white;
  border-radius: 5px;
  margin-top: 10px;
}

/*---local settings widget---*/
.settings {
  border-top: solid 1px rgb(150, 150, 150);
  padding: 10px 20px 20px 20px;
}

#time-zone {
  background-color: rgb(250, 250, 250);
  height: 40px;
  width: 100%;
  border: solid 1px rgb(150, 150, 150);
  border-radius: 5px;
  padding-left: 10px;
  font-size: 1em;
}

select {
  color: rgb(160, 160, 160);
  opacity: 1;
  font-weight: 300;
  margin-bottom: 10px;
}

.button-disabled {
  background-color: rgb(160, 160, 160);
  width: 100%;
  height: 50px;
  font-size: 0.9em;
  text-transform: uppercase;
  color: white;
  border-radius: 5px;
  margin-top: 10px;
}

/* media query 768px */
@media (min-width: 768px) {
  .grid-container {
    grid-template-columns: 55px 1fr;
    grid-template-areas:
      "header header"
      "navigation main";
  }

  main {
    grid-template-columns: 50%;
  }

  .traffic,
  .social {
    grid-column: 1 / span 2;
  }

  .daily,
  .members,
  .message {
    grid-column: 1 / span 1;
  }

  .mobile,
  .activity,
  .settings {
    grid-column: 2 / span 1;
  }

  .widget-container-full {
    width: 90vw;
  }

  .widget-container-half {
    width: 45vw;
  }
}
